#header {
  background-color: #B4D4FF;
}

#nameAndUserAccess {
  background-color: #EEF5FF;
}

#featuresDescription {
  background-color: #86B6F6;
}

#whyChooseBudgetBuddy {
  background-color: #EEF5FF;
}

#footer {
  background-color: #FBF9F1;
}

.loginFormTable {
  padding-left: 40%;
  padding-right: 40%;
  padding-top: 12%;
}